@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-primary
}

@layer base {
  * {
    box-sizing: border-box;
  }

   thead, tr {
    display: flex;
  }

  h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 130%;
  }

  h2 {
    font-size: 50px;
    line-height: 140%;
  }

  h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
  }

  .body1{
    font-size: 16px;
    line-height: 150%;
  }

  .body2{
    font-size: 14px;
    line-height: 140%;
  }

  .body3{
    font-size: 12px;
    line-height: 140%;
  }

  .bg-svg{
    @apply absolute top-0 inset-x-0 -z-10
  }
}